@import url('https://fonts.googleapis.com/css?family=Libre+Caslon+Display&display=swap');
img {
    max-width: 100%;
}
* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
/* границя між кодом для всіх стилів і стилями конкретнгих частинок сторінки.*/

body {
    max-width: 980px;
    font-family: 'Libre Caslon Display', serif;
    margin: 0;
}
h1, h2, p, label, input {
    font-style: italic;
    font-family: 'Libre Caslon Display', serif;
    color:#000;
    font-size: 25px;
    margin: 0px;
}
h1 {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  padding: 80px 50px;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
}
h2 {
    text-align: center;
    color: #131313;
    letter-spacing: .15em;
    text-shadow:
      1px -1px 0 #767676,
      -1px 2px 3px #737272,
      -2px 4px 3px #767474,
      -3px 6px 3px #787777;
  }
.navbar {

    font-family: 'Libre Caslon Display', serif;
    color:black;
    font-size: 25px;
    margin: 0px;
}
header {

    align-items: center;
    justify-content: center;
}
header h1 {
    font-size: 50px;
    color: white;
}
#header-ikon {
    position: relative;
}
#header-ikon h1 {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
}
main {
    padding: 10px;
}
main section {
    margin-top: 15px;
}
iframe {
    max-width: 100%;
}
#links a {
    display: inline-block;
    width: 45%;
    margin: 0;
    padding: 2%;
}
#links img {
    height: 35px;
    vertical-align: middle
}
footer {
    padding: 10px;
}
@media only screen
and (min-width: 600px) {
  header h1 {
        font-size: 300px;
    }
}
 .box {
  display: inline-block;
  width: 350px;
  vertical-align: top;
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 10px;
}